@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #684b0d;
    
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #ddc99f;
}
section .container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    
}
section .container .contactus
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #795914;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  
}
section .container .contactus h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactus .info{
    position: relative;
    margin: 20px 0;
}
section .container .contactus .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactus .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
section .container .contactus .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactus .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
section .container .contactus .info li:hover span:nth-child(1) img,
section .container .contactus .info li:hover span:nth-child(2){
    opacity: 1;
}
section .container .contactus .sci{
    position: relative;
    display: flex;
}
section .container .contactus .sci li{
    list-style: none;
    margin-right: 15px;
}
section .container .contactus .sci li a{
    text-decoration: none;
}
section .container .contactus .sci li a img{
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactus .sci li a img:hover{
    opacity: 1;
}
section .container .contactform{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
section .container .contactform h2{
    color: #795914;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactform .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactform .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactform .formBox .inputBox.w50{
    width: 47%;
}
section .container .contactform .formBox .inputBox.w100{
    width: 100%;
}
section .container .contactform .formBox .inputBox input,
section .container .contactform .formBox .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .container .contactform .formBox .inputBox textarea{
    min-height: 120px;
}
section .container .contactform .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.3s;
    pointer-events: none;
}
section .container .contactform .formBox .inputBox input:focus ~ span,
section .container .contactform .formBox .inputBox textarea:focus ~ span,
section .container .contactform .formBox .inputBox input:valid ~ span,
section .container .contactform .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fc0000;
}
section .container .contactform .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #795914;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactform .formBox .inputBox input[type="submit"]:hover{
    background: #ffee56;
    color: rgba(0, 0, 0);
}
#f-bottom{
    background-color: rgb(3, 3, 3);
}
/*navbar css*/
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header li a:hover {
    background-color: #111;
  }




