.sec_sd{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, beige, white);
}

h2{
    padding-top: 40px;
    text-align: center;
}
 .ds{
     display: inline-block;
     width: 500px;
     height: 600px;
 }

 .des{
     width: 500px;
     height: 200px;
 }